.Compass {
    /* background-color: silver;  */
    color: navy;
    font-weight: Normal;
    font-size: 1.0cm;
    font-family: "Pau the 1st"; 
}

.boldInput {
    font-weight: 900;
    font-size: 0.75cm;
}
.largeButton {
    min-height: 50px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}